.root{
    -fx-background-color: #212121;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
}

#header{
    -fx-font-size: 50px;
    -fx-text-fill: #F5F5F5;
}

#button{
    -fx-background-color: #009688;
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 20px;
}

/*change the bar chart color*/
.default-color0.chart-bar{
    -fx-bar-fill: #FF9800;
}

/*change the axis tick label color*/
.axis{
    -fx-tick-label-fill: #F5F5F5;
}

/*change the axis label color*/
.axis-label{
    -fx-text-fill: #F5F5F5;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}